.container {
    width: 100%; 
    max-width: 640px; 
    margin: auto; 
    margin-top: 90px;
    background: rgb(225, 225, 225);
    color: #262626;
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
  }
  
  .container hr {
    height: 2px;
    border: none;
    background: #707070;
    margin: 20px 0; 
  }
  
  .container h2 {
    font-size: 24px; 
    font-weight: 500;
    margin-bottom: 10px; 
  }
  
  .container ul {
    list-style-type: none; 
    padding: 0;
  }
  
  .container ul li {
    margin-bottom: 15px; 
    height: 50px; 
    display: flex;
    align-items: center;
    padding-left: 10px; 
    border: 1px solid #686868;
    border-radius: 8px;
    font-size: 18px; 
    cursor: pointer;
  }
  
  .container button {
    width: 100%; 
    max-width: 250px; 
    height: 50px; 
    background: #553f9a;
    color: #fff;
    font-size: 20px; 
    font-weight: 500;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: auto; 
  }
.container-button {
  margin: 20px;
}
.container-button button {
  margin: 10px;
}
  
  .container .index {
    font-size: 16px; 
    margin-top: 20px; 
  }

.disabled {
  pointer-events: none; 
  opacity: 0.6; 
}
.correct {
  background-color: rgb(72, 196, 72);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.incorrect {
  background-color: rgba(243, 63, 63, 0.944);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.option.disabled {
  pointer-events: none;
  opacity: 0.6;
}